// Slider custom variables
$ardi-slider-bg-color: #158bea !default;
$ardi-slider-handle-border: 1px solid #b5cad8 !default;
$ardi-slider-handle-bg-color: #fff !default;
$ardi-slider-handle-box-shadow: 0px 1px 1px rgba(14,66,109,0.3) !default;
